.item{
  display: flex;
  flex-direction: column;
}

.form {
  text-align: center;
  justify-content: center;
  button {
    margin: 10px 0;
    width: 70px;
  }
}

@media only screen and (max-width: 750px) {
  .container_detail{
    width: 100%;
    font-family: Cabin;
    font-style: normal;
    background: #FFFFFF;
  }

  .nav-notification{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5% 0%;
    text-align: center;
  }
  .nav-notification .nav_form{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .link_form{
    margin-left: 15%;
    width: 38px;
    height: 38px;
    left: 25px;
    top: 69px;
    border-radius: 50%;
    background: #FFEFCD;

  }
  .link_form img{
    margin-top: 15%;
  }
  .link_form p{

    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;

    color: #1E1C19;
  }

  .number_customer_form{
    width: 100%;
    text-align: center;
    background-color: #F8F8FB;
    color: #1E1C19;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 30px 0;
  }
  .number_customer_form .btn2{
    width: 40%;
    height: 30px;
    margin-left: 10px;
    background: #FCBC3A;
    border-radius: 30px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    color: #1E1C19;
  }
  .number_customer_form .btn1{
    width: 40%;
    height: 30px;
    margin-right: 10px;
    background: #E5E5E5;
    border-radius: 30px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    color: #7A7A7A;
  }
  .list-Item_detail{
    margin-top: 20px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    height: 330px;
  }
  .item-form-detail{
    position: relative;
    display: flex;
    background: #EEEEEE;
    margin-left: 5%;
    margin-bottom: 8%;
    box-sizing: border-box;
    border-radius: 10px;
    width: 90%;
    padding: 15px 0;
  }
  .list-Item_detail .item-form-detail .item-form-one{
    width: 60%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
  }
  .list-Item_detail .item-form-detail span:nth-child(1){
    width: 100%;
    padding-bottom: 10px ;
    color: #1E1C19;
    text-align: left;

  }
  .list-Item_detail .item-form-detail span:nth-child(2){
    width: 30%;
    text-align: left;
  }
  .contain_button_detail {
    position: absolute;
    top: 25px;
    right: -10px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: #DC4040;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;

    text-align: center;
    letter-spacing: -0.15em;
  }
  .btn-form{
    margin: 20px 0;
    display: flex;
  }
  .btn_1{
    margin:0 5%;
    background: #E5E5E5;
    border-radius: 10px;
    width: 40%;
    padding: 10px 0;
  }

  .btn_2{
    margin:0 5%;
    padding: 10px 0;
    background: #FCBC3A;
    border-radius: 10px;
    width: 40%;
  }

}