
.MyContainer {
  width: 100%;
  background-color: #4EC7FB;
  display: flex;
  justify-content: space-between;


}

.myButton {
  color: white;
  padding: 30px;

}

.form-role {
  display: flex;
  justify-content: flex-end;
}

.form-role p {
  padding-top: 30px;
}

.role {
  padding-right: 20px;
}


.nav-notification {
  display: flex;
  justify-content: center;
}

.nav-notification li {
  list-style: none;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(161, 53, 53, 1);
  box-shadow: inset 0 0 15px;
  margin: 20px 70px;
  color: white;

}

.nav-notification li a {
  text-decoration: none;
  color: white;
}