@media(max-width: 1000px) {
  .display-receptionist{
    display: none;
  }
  .none-display-receptionist{

  }
}

@media(min-width: 1000px) {
  .display-receptionist{

  }
  .none-display-receptionist{
    display: none;
  }
}

.background-header {
  background-color: lightcoral !important;
  .thanks-header {
    max-width: 90% !important;
  }
}

.receptionist-order{
  margin-top: 90px;
  margin-bottom: 60px;
  position: fixed;
  width: 90%;
  height: 100% !important;
  margin-left: calc(100% - 95%);
}

.side-content{
  height: calc(100% - 150px) !important;
  border: 2px solid #000000;
  margin: 0px 35px 0px 35px;
}

.mh-55{
  height: calc(100% - 180px) !important;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 15px;
}

.card-order{
  margin-bottom: 5px;
  height: 50px;
  width: 80%;
  border: 2px solid lightcoral;
  align-items: center;
  font-size: 16px;
  .card-order-button{
    background-color: lightcoral;
  }
}