.header-detail{
  position: fixed;
  width: 100%;
  background-color: #bfc8e2;
  z-index: 100;
  height:35px
}

.image-item{
  padding-top: 50px;
}

.detail-item{
  margin-top: 15px;
  margin-left: calc(100% - 95%);
  .name-item{
    font-size: 20px;
  }
}

.cost-item{
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #1E1C19;
}

.list-item{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px 0px 10px 0px;
}

.check-all-button{
  display: none;
}
.choose-all{
  background: #FFEFCD;
  border-radius: 30px;
  height: 35px;
  width: 90%;
  text-align: center;
  border: 2px solid #FCBC3A;
  .choose-text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    padding-top: 8px;
    color: #1E1C19;
  }
}

.check-once-input {
  display:none;
}
.check-once-label{
  border-radius: 100%;
  width: 18px !important;
  height: 18px;
  background-color: #EEEEEE;
  border: 2px solid #6a7187;
}
.check-once-text{
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #000000;
}
input[type='checkbox'].check-once-input:checked ~ div.group-checkbox>div.check-once-label{
  background-color: #FFEEAA;
  border: 2px solid #FCBC3A;
}

input[type='checkbox'].check-all-button:checked ~ div.choose-all{
  background-color: #FCBC3A;
}

.note-item{
  width: 100%;
  margin: 50px 0px 10px 0px;
  .note-input-item{
    width: 100%;
    border-radius: 10px;
  }
}

.checkbox-dish{
  width: 50%;
  margin: 10px 20px 10px 20px;
}

.order-cart{
  background-color: #bfc8e2;
  height: 45px;
  position: fixed;
  width: 100%;
  z-index: 100;
  bottom: 50px;
  text-align: right;
  .order-button{
    margin-top: 5px;
    width: auto;
    height: 35px;
    border-radius: 10px;
  }
}

.order-drink{
  background-color: #6a7187;
  height: 45px;
  position: fixed;
  width: 100%;
  z-index: 100;
  bottom: 50px;
  .order-button-drink{
    margin-top: 5px;
    width: auto;
    height: 35px;
    border-radius: 10px;
  }
  .add-minus{
    margin-top: 10px;
  }
}