.header-menu{
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
  .home-icon {
    margin-top: auto;
    margin-bottom: auto;
  }
  .menu-search{
    margin-top: auto;
    margin-bottom: auto;
    .span-table{
      width: 120px;
      height: 34px;
      background: #EEEEEE;
      border-radius: 30px;
      .div-table{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;
        text-align: center;
        color: #1E1C19;
        font-family: Cabin;
      }
    }
  }

  .menu-bar{
    overflow: auto;
    white-space: nowrap;
    z-index: 150;
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    .menu-type-a{
      height: 100%;
      .menu-type{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 0;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        position: relative;
        outline: 0;
        .cate-background-color{
          background-color: #FFEFCD !important;
          .icon-button-menu{
            width: 20px;
            height: 20px;
          }
        }
        .square-text-button{
          font-family: Cabin;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          text-align: center;
          color: #1E1C19;
        }
      }
    }
    .menu-type-a:hover{
      height: 100%;
      .menu-type{
        .cate-background-color{
          background-color: #FCBC3A !important;
        }
      }
    }
  }
  .cover-list{
    position: fixed;
    width: 100%;
    height: calc(100% - 50px) !important;
    background-color: #ffffff;
    .side-list-menu{
      height: calc(100% - 50px) !important;
      padding-bottom: 90px;
      .list-menu{
        height: 100% !important;
        width: 100%;
      }
    }
  }
}


.search-bar{
  width: 70%;
  height: 35px;
  border-radius: 20px 0px 0px 20px;
  background-color: #FFEFCD;
  border-color: #FFEFCD;
}

.title-menu{
  font-family: Cabin;
  padding-top: 30px;
  padding-bottom: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #1E1C19;
}

.item-menu{
  margin-left: calc(100% - 98%);
  margin-top: 5px;
  width: 98%;
  height: 65px;
  background-color: #ffffff;
  .menu-item-bar{
    background: #EEEEEE;
    border-radius: 10px;
    .item-name {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 17px;
      padding: 8px 0px 0px 0px;
      font-family: Cabin;
      color: #000000;
    }
    .item-cost {
      font-family: Cabin;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 15px;
      color: #000000;
      padding: 18px 0px 0px 0px;
      bottom: 0px;
    }
  }
  .add-button{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: -5%;
    .plus-background-color{
      height: 22px;
      width: 22px;
      background-color: #FCBC3A;
      .plus-icon-button{
        height: 10px;
        width: 10px;
      }
    }
  }
}


.add-btn{
  border-radius: 50%;
}

#extra{
  margin-bottom: 100px;
}

.cart{
  position: fixed;
  width: 100%;
  z-index: 100;
  bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  //display: none;
  .cart-button{
    width: 100%;
    height: 40px;
    background: #FCBC3A;
    border-radius: 10px 10px 0px 0px;
    z-index: 150;
    .text-cart-button{
      font-family: Cabin;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 16px;
      text-align: center;
      color: #1E1C19;
    }
  }
}

.dis-menu{
  display: block;
}

.none-dis-menu{
  display: none;
}

.dis-cate{
  display: block;
}

.none-dis-cate{
  display: none;
}

.dis-search{
  display: block;
}

.none-dis-search{
  display: none;
}

.item-name-fe{
  font-family: Cabin;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 20px;
}

.check-fe{
 display: none;
}
.form-check-label-fe{
  width: 100%;
  height: 40px;
  background-color: #EEEEEE;
  border-radius: 10px;
}
input[type = 'radio'].check-fe:checked ~ div.form-check-label-fe{
  background-color: #FFEFCD;
  border: 2px solid #FCBC3A;
}

.check-fes{
  display: none;
}

.form-check-label-fes{
  width: 100%;
  height: 40px;
  background-color: #EEEEEE;
  border-radius: 10px;
}
input[type = 'radio'].check-fes:checked ~ div.form-check-label-fes{
  background-color: #FFEFCD;
  border: 2px solid #FCBC3A;
}

.fe-text{
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #1E1C19;
  padding-left: 15px;
  padding-top: 10px;
}

.table-th-manage-table{
  margin-bottom: auto;
  margin-top: auto;
  padding-top: 8px;
}